In [1]:
import numpy as np
import pandas as pd

In [2]:
#set nilai tugas, uts, dan uas

n = 20

#nilai tugas
mean_tugas = 85
var_tugas = 7

#nilai uts
mean_uts = 60
var_uts = 15

#nilai uas
mean_uas = 75
var_uas = 10

#generate nilai menggunakan np.random.normal
nilai_tugas = np.random.normal(mean_tugas, var_tugas, n)
nilai_uts = np.random.normal(mean_uts, var_uts, n)
nilai_uas = np.random.normal(mean_uas, var_uas, n)

In [3]:
#membuat data frame
data_nilai = pd.DataFrame({
    'tugas': nilai_tugas,
    'uts': nilai_uts,
    'uas': nilai_uas
})

In [4]:
#menambahkan satu kolom baru (nilai akhir) dengan formula : tugas 20%, uts 40%, uas 40%

data_nilai['nilai akhir'] = 0.2 * data_nilai['tugas'] + 0.4 * data_nilai['uts'] + 0.4 * data_nilai['uas']

In [9]:
#membuat kolom baru (predikat) dan melakukan binning 

def get_grade(nilai_akhir):
    if 85 <= nilai_akhir <= 100:
        return 'A'
    elif 80 <= nilai_akhir < 85:
        return 'A-'
    elif 75 <= nilai_akhir < 80:
        return 'B+'
    elif 70 <= nilai_akhir < 75:
        return 'B'
    elif 65 <= nilai_akhir < 70:
        return 'B-'
    elif 60 <= nilai_akhir < 65:
        return 'C+'
    elif 55 <= nilai_akhir < 60:
        return 'C'
    elif 50 <= nilai_akhir < 55:
        return 'C-'
    elif 20 <= nilai_akhir < 50:
        return 'D'
    elif 0 <= nilai_akhir < 20:
        return 'E'

data_nilai['predikat'] = data_nilai['nilai akhir'].apply(get_grade)

In [11]:
print(data_nilai)

         tugas        uts        uas  nilai akhir Predikat
0    97.658054  69.495180  73.785794    76.844000       B+
1    76.427923  51.335119  65.726228    62.110123       C+
2    82.142619  61.281882  75.160251    71.005377        B
3    92.916387  34.595945  65.305547    58.543874        C
4    86.293141  64.944170  81.642246    75.893195       B+
5    89.545575  28.335021  75.778217    59.554410        C
6    96.377327  67.528334  77.903047    77.448018       B+
7    84.460335  30.918549  63.861834    54.804220       C-
8   100.794113  61.731312  75.124663    74.901213        B
9    78.989796  49.193553  84.308083    69.198614       B-
10   89.494249  54.356708  62.243064    64.538759       C+
11   79.462903  58.323073  65.494652    65.419671       B-
12   86.831869  55.297762  71.185640    67.959735       B-
13   70.913961  59.524516  62.647115    63.051444       C+
14   84.563529  66.659619  63.680919    69.048921       B-
15   75.190642  53.764829  76.750213    67.244145       B-
16   83.342678  45.633438  63.336077    60.256342       C+
17   86.794014  81.208614  67.171151    76.710708       B+
18   82.683629  67.522149  83.379742    76.897482       B+
19   72.869243  57.082065  55.023427    59.416045        C